body {
    font-size: 20px;
    font-family: "Open Sans";
}

.main-doc header {
    font-size: 1.5em;
}

.main-body {
    display: grid;
    grid-template-columns: minmax(300,auto) 1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 20px;
}

.nav-bar {
    grid-area: navbar;
    /* position: fixed; */
}

.nav-bar a {
    display: block;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: darkslategrey;
    border-radius: 5px;
}

code {
    background-color: lightgrey;
    padding: 8px;
}

@media screen and (max-width: 750px) {
    .main-body {
        /* grid-template-columns: 1fr;
        grid-template-areas: "navbar" "mainContent"; */
    }
    .nav-bar {
        position: inherit;
    }
}